---
Checks:
  '*,
  -cert-*,
  -clang-*,
  -fuchsia-*,
  -google-*,
  -zircon-*,
  -abseil-*,
  -modernize-use-trailing-return-type,
  -llvm-*'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
