[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum.git

[submodule "external/trompeloeil"]
	path = external/trompeloeil
	url = https://github.com/rollbear/trompeloeil.git

[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2.git
